@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// scrollbar
$scrollbarBG: #adb8c2;
$thumbBG: #28a745;
// button
$bg: #00755eee;
$text: #1a2421;
$light-clr: #3b7a57;
$clr: #29ab87;
$dark-clr: #004b49;
$clr-border: #1c352d;
$clr-shadow: #00755e;
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #333;
  font-family: "Audiowide", cursive;
}
.calculator-grid {
  gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-auto-rows: 80px;
  background-color: lighten($color: rgb(31, 104, 74), $amount: 14%);
  border-radius: 10px;
  .screen {
    border-radius: 10px;
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    word-break: break-all;
    padding: 20px;
    justify-content: space-around;
    background: #222;
    overflow: auto;
    .previous-operand,
    .current-operand {
      width: 100%;
    }
    .previous-operand {
      color: #aaa;
      font-size: 1.5rem;
    }
    .current-operand {
      color: #fff;
      font-size: 2.5rem;
    }
  }
  .span-two {
    grid-column: span 2;
  }
  button {
    position: relative;
    outline: none;
    cursor: pointer;
    border: 0;
    user-select: none;
    font: 600 25px "Audiowide", cursive;
    color: $text;
    text-transform: uppercase;
    padding: .15em .2em;
    background: $light-clr;
    border: 2px solid $clr-border;
    border-radius: 0.25em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: $dark-clr;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $clr-border, 0 0.25em 0 0 $clr-shadow;
      transform: translate3d(0, 0.15em, -.5em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $clr;
      transform: translate(0, 0.15em);
      &::before {
        box-shadow: 0 0 0 2px $clr-border, 0 0.2em 0 0 $clr-shadow;
        transform: translate3d(0, 0.1em, -.3em);
      }
    }
    &:active {
      background: $clr;
      transform: translate(0em, 0.05em);
      &::before {
        box-shadow: 0 0 0 2px $clr-border, 0 0 $clr-shadow;
        transform: translate3d(0, 0, -.2em);
      }
    }
  }
}

/* scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

/*! Other Browser */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 8px;
  border: 5px solid var(--scrollbarBG);
}
